html,
body {
  margin: 0;
  padding: 0;
}

.image {
  height: 50vh;
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.image img {
  height: 100%;
  width: auto;
}

#buttons {
  margin: 32px 0 32px 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#buttons button {
  margin: 0 10px;
  width: 96px;
  height: 64px;
  cursor: pointer;
}
