html,
body {
  margin: 0;
  padding: 0;
}

.image {
  height: 50vh;
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.image img {
  height: 100%;
  width: auto;
}
