<!DOCTYPE html>
<html>
  <head>
    <title>Map</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='index.css') }}"
    />
  </head>
  <body>
    <div id="polar" class="image"></div>
    <div id="polar_latest" class="image"></div>
    <div id="cartesian" class="image"></div>
    <div id="calibration" class="image"></div>
    <div id="buttons">
      <button id="forward">Forward</button>
      <button id="backward">Backward</button>
      <button id="left">Left</button>
      <button id="right">Right</button>
      <button id="stop">Stop</button>
      <button id="exit">Exit</button>
    </div>
  </body>

  <script
    src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous"
  ></script>
  <script src="{{url_for('static', filename='loadimage.js')}}"></script>
  <script src="{{url_for('static', filename='commands.js')}}"></script>
</html>
